.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: grey;
}

.adjust {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 70px;
    padding-bottom: 20px;
}