@media screen and (min-width:800px) and (max-width: 1046px) {
    .centered h1 {
        font-size: 50px;
    }

    .centered p {
        font-size: 15px;
    }

    .card {
        width: 45%;
        height: 650px;
    }

    .image img {
        height: 150px;
        width: 100%;
    }

    .descript {
        height: auto;
    }
}

@media screen and (min-width:400px) and (max-width: 800px) {
    .centered h1 {
        font-size: 50px;
    }

    .centered p {
        font-size: 15px;
    }

    .card {
        width: 45%;
        height: 680px;
    }

    .image img {
        height: 150px;
        width: 100%;
    }

    .descript {
        height: auto;
    }
}

@media screen and (max-width: 390px) {
    .centered h1 {
        font-size: 20px;
    }

    .centered p {
        font-size: 10px;
    }

    .card {
        width: 45%;
        height: 2500px;
    }

    .image img {
        height: 150px;
        width: 100%;
    }

    .descript {
        height: auto;
    }
}